@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --color-blackblue: #011627;
    --color-darkblue: #01101C;
    --font-inter: "Inter", sans-serif;
}